* {
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  display: grid;
  justify-content: center;
  text-align: start;
  align-items: center;
  width: auto;
  height: auto;
}
form {
  background-color: #538dcc;
  border-radius: 20px;
}

input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  height: 25px;
  color: white;
  font-size: 20px;
}

input[type="number"] {
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  height: 25px;
  color: white;
  font-size: 20px;
}

label {
  color: rgb(191, 227, 232);
  font-size: 22px;
  font-weight: 700;
  margin: 20px;
}

select {
  height: 30px;
  width: 120px;
  border-radius: 8px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.span_main {
  color: red;
  font-size: 17px;
  margin-left: 20%;
}
.span_main1 {
  padding: 2px;
  color: red;
  font-size: 20px;
  margin-left: 26%;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 8px;
}

.Btn {
  padding: 10px;
  margin-left: 32%;
  width: 200px;
  background-color: rgb(150, 150, 244);
  border-radius: 15px;
  border: none;
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}
h1 {
  text-align: center;
  padding: 15px;
  color: white;
}
.image {
  width: 100px;
  height: 100px;
}
.head {
  display: flex;
  padding: 10px;
}
.select_options{
  width: 540px;
  margin-left: 20px;
}

@media (max-width: 450px) {
  input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    height: 15px;
    color: aliceblue;
    font-size: 10px;
  }

  input[type="number"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    height: 15px;
    color: aliceblue;
    font-size: 10px;
  }
 

}
